<div class="container">
    <nav class="navbar navbar-expand w-100">
      <div class="container-fluid">
        <p>{{ remainingTimeFormatted }}</p>
        <P>C++ Exam</P>
        <p>Total: 60 questions</p>
      </div>
    </nav>
    
    <h1>1<sup>st</sup>: MCQ</h1>
    <!-- ng for ya kimo -->
    <div class="mcq">
      <label class="points">( 2 points )</label>
      <p class="question">
        1) What is the output of the following program?
        <br />
        int x = 5;
        <br />
        cout << x++ << endl;
      </p>
      
      <div class="form-check ans">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1"> 5 </label>
      </div>
      <div class="form-check ans">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
        />
        <label class="form-check-label" for="flexRadioDefault2"> 6 </label>
      </div>
      <div class="form-check ans">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
        />
        <label class="form-check-label" for="flexRadioDefault3"> 7 </label>
      </div>
      <div class="form-check ans">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault4"
        />
        <label class="form-check-label" for="flexRadioDefault4"> 8 </label>
      </div>
    </div>
    
  
    <h1>2<sup>nd</sup>: Coding</h1>
    <div class="coding">
      <label class="points">( 5 points )</label>
      <p class="question">
        1) Write a program that prints the numbers from 1 to 100
      </p>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <button type="button" class="btn btn-success">Submit</button>
  </div>
  