<div class="container">
    <div class="image"></div>
  
    <div class="form">
      <div class="logo">
        <div id="logo1"></div>
        <div id="logo2"></div>
      </div>
  
      <form class="box" #input_form="ngForm" (ngSubmit)="submit()">
        <h3>Sign in to exam system</h3>
        <div class="field">
          <label for="email">Email or phone number</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email / Phone number"
            [(ngModel)]="user_login.email"
            #email="ngModel"
            required
            class="form-control"
            [class.is-invalid]="email.invalid && email.touched"
            email
            phone="CN"
          />
          <!-- handle errors -->
          <div *ngIf="email.invalid && email.touched" class="error">
            <div *ngIf="email.errors?.['email']&&(email.errors?.['phone'])">
              Email Or Phone Is Required
            </div>
            <div *ngIf="email.errors?.['required']">This Field Is Required</div>
          </div>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="user_login.password"
            #password="ngModel"
            required
            class="form-control"
            [class.is-invalid]="password.invalid && password.touched"
            minlength="8"
          />
        </div>
        <!-- handle errors -->
        <div *ngIf="password.invalid && password.touched" class="error">
          <div *ngIf="password.errors?.['required']">This Field Is Required</div>
          <div *ngIf="password.errors?.['minlength']">Min Length is 8</div>
        </div>
  
        <!-- not_active -->
        <button
          class="field"
          [disabled]="email.errors?.['required']||(email.errors?.['email']&&(email.errors?.['phone']))||password.errors?.['required']||password.errors?.['minlength']"
          *ngIf="email.errors?.['required']
        ||password.errors?.['required']||password.errors?.['minlength']||(email.errors?.['email']&&(email.errors?.['phone']))"
          style="background-color: gray"
          id="btn"
          type="submit"
        >
          Sign in
        </button>
  
        <!-- active -->
        <button
          class="field"
          [hidden]="(email.errors?.['required']||password.errors?.['required'])
        ||(email.errors?.['email']&&(email.errors?.['phone']))||password.errors?.['minlength']"
          id="btn"
          type="submit"
        >
          Sign in
        </button>
  
        <label id="signup"
          >Not a member?
          <a routerLink="/signup">Sign up now</a>
        </label>
      </form>
    </div>
  </div>
  
  <app-pop-up></app-pop-up>
 