div {
    font-family: "Montserrat", sans-serif;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px;
  }
  
  .form {
    width: 80vh;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
  }
  
  .field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .image {
    width: 80vh;
    height: 100vh;
    background: url("../../assets/images/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    order: 1;
  }
  .logo {
    display: flex;
    width: 141px;
    padding: 0px 0px 0.013px 0px;
    justify-content: center;
    align-items: center;
    gap: 7.768px;
    margin-bottom: 20%;
    margin-top: 5%;
  }
  #logo1 {
    width: 46.596px;
    height: 46.987px;
    flex-shrink: 0;
    background: url("../../assets/images/logo1.svg");
  
  }
  #logo2 {
    width: 86.636px;
    height: 35.237px;
    flex-shrink: 0;
    background: url("../../assets/images/logo2.svg");
  
  }
  h3 {
    color: #090914;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 150%;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .box label {
    align-self: stretch;
    color: #0a0a0a;
  
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .box input {
    margin-bottom: 32px;
    display: flex;
    width: 50vh;
    padding: 10px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  #btn {
    width: 100%;
    border-radius: 8px;
    background: #008081;
    font-size: 16px;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  #signup {
    margin-top: 10px;
  }
  a {
    color: inherit;
    color: #008081;
    text-decoration: none;
  }
  
  .error {
    font-size: small;
    margin-top: -25px;
    margin-bottom: 10px;
    color: red;
  }
  
  @media only screen and (max-width: 700px) {
    .form {
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .image {
      width: 100%;
      height: 400px;
      order: 2;
    }
    
    .logo {
      margin-bottom: 10%;
      margin-top: 10%;
    }
  }
  
  @media only screen and (max-height: 700px) {
    .container {
      overflow: scroll;
    }
  }
  
  