<div *ngIf="flag_answers==false" class="container">
  <nav class="navbar navbar-expand w-100">
    <div class="container-fluid">
      <p>{{ remainingTimeFormatted }}</p>
      <P>{{ exam.title }}</P>
      <p>Total: {{ exam.mcq.length + exam.coding.length }} questions</p>
    </div>
  </nav>
  <h1>1<sup>st</sup>: MCQ</h1>
  <!-- ng for ya kimo -->
  <div class="mcq" *ngFor="let questions of exam.mcq">
    <label class="points">({{ questions.question.weight }} points )</label>
    <p class="question">
      {{ questions.question.description }}
    </p>
    <div
      class="form-check ans"
      *ngFor="let q of questions.question.choices; let i = index"
    >
      <input
        class="form-check-input"
        type="radio"
        [name]="'flexRadioDefault' + i"
        [id]="'flexRadioDefault1' + i"
        value="{{ q }}"
        #check
        [checked]="questions.user_answer == q"
        (change)="change_answer(q, questions.question._id, questions)"
      />
      <label class="form-check-label" for="flexRadioDefault1"> {{ q }} </label>
    </div>
  </div>

  <h1>2<sup>nd</sup>: Coding</h1>
  <div class="coding" *ngFor="let questions of exam.coding">
    <label class="points">( {{ questions.question.weight }} points )</label>

    <span>description:</span>
    <p class="question">
      {{ questions.question.description }}
    </p>
    <span>input_format:</span>
    <p class="question">
      {{ questions.question.input_format }}
    </p>
    <span>output_format:</span>
    <p class="question">
      {{ questions.question.output_format }}
    </p>
    <span>constraints:</span>
    <p class="question">
      {{ questions.question.constraints }}
    </p>
    <span style="display: block">choose language:</span>
    <select
      name="language"
      #select_lan
      id="language"
    >
      <option value="0">Select language</option>
      <option of value="2">C</option>
      <option value="1">C++</option>
      <option value="3">C#</option>
      <option value="5">Python</option>
      <option value="4">Java</option>
    </select>

    <textarea
      [disabled]="select_lan.value == '0'"
      [value]="language[select_lan.value].starter_code"
      class="form-control"
      aria-label="With textarea"
      #answer_coding
    ></textarea>
    
    <div>
      <button type="button" class="btn btn-success" (click)="check_answer_coding(answer_coding.value,questions.question._id,language[select_lan.value]._id)">
        Check
      </button>
    </div>

  </div>
  
  <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
</div>



<div *ngIf="flag_answers==true" class="container">
  <nav class="navbar navbar-expand w-100">
    <div class="container-fluid">
      <p> {{remainingTimeFormatted}} </p>
      <P>{{ exam.title }}</P>
      <p>Total: {{ exam.mcq.length + exam.coding.length }} questions</p>
    </div>
  </nav>
  <h1 class="grade"> Your Grade {{percentage}} out of 100</h1>
  <!-- ng for ya kimo -->
  <div class="mcq" *ngFor="let questions of exam.mcq; let j = index">
    <label *ngIf="questions.user_answer!=answer[j]" class="points wrong_points" >( 0 Out of {{ questions.question.weight }} points )</label>
    <label *ngIf="questions.user_answer==answer[j]" class="points correct_points">( {{ questions.question.weight }} Out of {{ questions.question.weight }} points )</label>
    <p class="question">
      {{ questions.question.description }}
    </p>
    <div
      class="form-check ans"
      *ngFor="let q of questions.question.choices; let i = index"
    >
      <input
        class="form-check-input"
        type="radio"
        [name]="'flexRadioDefault' + i"
        [id]="'flexRadioDefault1' + i"
        value="{{ q }}"
        #check
        [checked]="questions.user_answer == q"
        (change)="change_answer(q, questions.question._id, questions)"
      />
      <label class="form-check-label" for="flexRadioDefault1"> {{ q }} </label>
    </div>
    <div *ngIf="questions.user_answer==answer[j]" class="correct_answer answer ">Correct Answer Is {{answer[j]}} => <span>Accepted</span> </div>
    <div *ngIf="questions.user_answer!=answer[j]" class="wrong_answer answer" >Correct Answer Is {{answer[j]}} =>  <span>Wrong Answer</span> </div>

  </div>

  <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
</div>















<div *ngIf="flag_verify_examcode == true" class="contain">
  <div class="order">Enter Verification Exam code.</div>
  <div class="box">
    <input type="text" class="input_verify" #input />
    <button class="btn-input" (click)="send_code(input.value)">Enter</button>
  </div>
</div>

<div *ngIf="flag_ten_more_popup == true" class="contain">
  <div class="order">do you need 10 more minute.</div>
  <div class="box">
    <button class="btn-yes btn-input" (click)="need_more_time('YES')">
      YES
    </button>
    <button class="btn-no btn-input" (click)="need_more_time('NO')">NO</button>
  </div>
</div>

<app-pop-up></app-pop-up>
