

.contain {
    background: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(5px);
    color: black;
    font-size: 48px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    font-weight: 1400;
    background: rgba(204, 255, 251, 0.111);
    position: fixed;
    left: 5%;
    top: 0%;
    height: 100vh;
    width: 100vw;
  }
  .close {
    position: fixed;
    right: 10%;
    top: 10%;
    color: #008182;
  }
  .order,
  h3 {
    font-size: 10px;
  }
  .order {
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 1.5%;
  }
* {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background: rgba(0, 129, 130, 0.12);
  background-size: contain;
  position: relative;
}
h1 {
  color: #003f3d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 2%;
}
.navbar {
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #008182 100%,
      rgba(0, 129, 130, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.47);
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar p {
  margin: 1.5%;
}
.points {
  position: absolute;
  right: 5%;
  font-weight: 500;
  font-size: 15px;
}
.mcq,
.coding {
  position: relative;
  margin: 2%;
  padding: 2%;
  border: 1px solid #008182;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.47);
}

.coding span {
font-size: 25px;
color: #003f3d;
}

.ans input {
  border-color: #008182;
  color: #008182;
}
.ans label {
  color: #003f3d;
}
.form-check-input[type="radio"]:checked {
  background-color: #008182;
  border-color: #008182;
}
.question {
  font-weight: 700;
  font-size: 16px;
  color: #003f3d;
}
textarea {
  min-height: 180px;
  max-height: fit-content;
}
.btn-success {
  transition: 0.4s;
  font-weight: 500;
  background-color: #008182;
  border-color: #008182;
  position: absolute;
  right: 3%;
  width: 15%;
}
.btn-success:hover {
  color: #008182;
  background-color: #ffffff;
  border-color: #008182;
}
.input_verify{
    width: 36vw;
    height: 8vh;
    border-radius: 15px;
    display: block;
    margin-bottom:2%;
    padding: 10px;
    font-size: 24px;
    font-weight: 450;
    color: #003F3D;
}
.btn-input{
    width: 36vw;
    height: 8vh;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 520;
    color: white;
    border: #008182;
    background-color:#008182;
    align-items: center;
    transition: 0.4s;
}
.btn-input:hover{
    border: 1px #000 solid;
    background-color:white ;
    color:#008182;
 }

 
.btn-yes{
  display: block;

}
.btn-no{
background-color:#ff0044;
}
.btn-no:hover{
  border: 1px #000 solid;
  background-color:white ;
  color:#ff0044;
}
#language{
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 7px;
  color:#003f3d ;
}

.wrong_answer span{
   color: red;
  
}
.correct_answer span{
  color:#008182;
}
.answer{
  text-align: center;
  font-size: 23px;
  font-weight: 500;

}
.correct_points{
  color:#008182;

}
.wrong_points{
  color: red;
}
.grade{
font-size: 45px;

}
@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 16px;
    font-weight: 400;
  }
}
