<div class="container">
  <nav class="navbar navbar-expand w-100">
    <div class="container-fluid">
      <p>{{ remainingTimeFormatted }}</p>
      <P>{{exam.title}}</P>
      <p>Total: {{exam.mcq.length+exam.coding.length}} questions</p>
    </div>
  </nav>
  <h1>1<sup>st</sup>: MCQ</h1>
  <!-- ng for ya kimo -->
  <div class="mcq" *ngFor="let questions of exam.mcq">
    <label class="points">({{ questions.question.weight }} points )</label>
    <p class="question">
      {{ questions.question.description }}
    </p>

    <div class="form-check ans" *ngFor="let q of questions.question.choices">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
        #check
        value={{q}}
        [checked]="questions.question.user_answer==q"
        [(ngModel)]="questions.question.user_answer"
        (change)="change_answer(questions.question.user_answer,questions.question._id)"              />
      <label class="form-check-label" for="flexRadioDefault1"> {{q}} </label>
    </div>
  </div>
  <h1>2<sup>nd</sup>: Coding</h1>
  <div class="coding" *ngFor="let questions of exam.coding">
    <label class="points">( {{ questions.question.weight }} points )</label>

    <span>description:</span>
    <p class="question">
      {{ questions.question.description}}
    </p>
    <span>input_format:</span>
    <p class="question">
      {{ questions.question.input_format}}
    </p>
    <span>output_format:</span>
    <p class="question">
      {{ questions.question.output_format}}
    </p>
    <span>constraints:</span>
    <p class="question">
      {{ questions.question.constraints}}
    </p>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
  <button type="button" class="btn btn-success">Submit</button>
</div>

<div *ngIf="flag_verify_examcode == true" class="contain">
  <div class="order">Enter Verification Exam code.</div>
  <div class="box">
    <input type="text" class="input_verify" #input />
    <button class="btn-input" (click)="send_code(input.value)">Enter</button>
  </div>
</div>

<app-pop-up></app-pop-up>
